* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    animation-name: approach;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

img {
    animation-name: appearing;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

header {
    border-bottom: 0.25em solid black;
    padding-left: 3.5%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(0.5em);
    -webkit-backdrop-filter: blur(0.5em);
    width: 100%;
    z-index: 1;
    top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 35%;
}

header a img {
    margin-top: 5%;
    height: 4em;
    align-self: center;
}

#offButton{
    margin-left: 11%;
    font-size: 4em;
    color: white;
    text-transform: none;
    font-weight: bolder;
    margin-top: 2%;
    width: 10%;
}

#otherContent {
    position: relative;
    text-align: right;
    width: 90%;
    margin: auto;
    margin-top: 2.5%;

    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
}

#otherContent a {
    text-decoration: none;
    font-family: 'DB Sans', sans-serif;
}

#otherContent h1 {
    color: white;
    line-height: 300%;
}

#otherContent h3 {
    color: lightgray;
    line-height: 250%;
}

#otherContent h1:hover, #otherContent h3:hover {
    color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#otherContent h1:hover {
    background-color: cyan;
}

#otherContent h3:hover {
    background-color: skyblue;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(18, 10, 143);
    backdrop-filter: blur(0.25em);
    -webkit-backdrop-filter: blur(0.25em);
    overflow-x: hidden;
    opacity: 0.9;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.mainContent {
    width: 95%;
    font-family: 'DB Sans', sans-serif;
    margin: auto;

    animation-name: approach;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
}

.entry {
    width: 25%;
    justify-items: center;
    font-family: 'DB Sans', sans-serif;
    border-right: 0.15em solid;
    border-bottom: 0.15em solid;
    box-shadow: 0.1em 0.1em;
    padding: 1em;
    transition-duration: 1s;
}

.entry:hover {
    background-color: rgb(18, 10, 143);
    box-shadow: 0.1em 0.1em gray;
    color: white;

    transition-duration: 0.5s;
}

.entry img {
    display: inline-block;
    width: 95%;
}

.caption {
    width: 95%;
    margin: auto;
    
}

.caption h1 {
    font-size: 1.25em;
    font-weight: 850;
}

.caption p {
    font-size: 0.75em;
    line-height: 150%;
    text-transform: none;
    font-weight: 525;
}

#bottle, #gif {
    width: 15em;
}

#bottle img {
    height: 11em;
}

footer {
    margin-top: 3%;
    padding: 1%;
    background-color: rgb(18, 10, 143);
    width: 100%;
    height: 5%;
    color: rgba(255, 255, 255, 0);
}

footer h1 {
    text-align: center;
    width: 20%;
    margin: auto;
}

@keyframes approach {
    from {
        opacity: 0;
        transform: translateY(-5em);
        -webkit-transform: translateY(-5em);
        -moz-transform: translateY(-5em);
        -ms-transform: translateY(-5em);
        -o-transform: translateY(-5em);
}
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

@keyframes appearing {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}